.main {

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 67px;
  font-size: 14px;

  .logo {
    color: #28a745;
    text-transform: uppercase;
    font-weight: 890;
    font-size: 20px;
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;

    .pages {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      a {
        text-decoration: none !important;
        color: black;
        text-transform:  uppercase;
      }

      ul {
        display:  flex;
        justify-content: center;
        align-items: center;
        text-transform:  uppercase;
        font-size: 14px;

        ul {
          display: none;
        }
      }
    }

    .icon {
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .menu {
    display: none;
  }

}

@media screen and (min-width: 320px) and (max-width: 768px) {

  .main {
    background-color: black;
    justify-content: space-between;
    padding: 0 20px;

    .logo {
      color: white;
    }

    .right {

      .pages {
        display: none;
      }
      .icon {
        display: none;
      }
    }

    .menu {
      display: flex !important;
      align-items: center !important;
      justify-content: center;
      cursor: pointer;
      gap: 10px;
      font-size: 20px;
      color: grey;
      text-transform:  uppercase;
    }

  }

}

@media screen and (max-width: 1024px) {

  .main {



  }

}